bokeh==2.4.2
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
decorator==5.1.1
Flask==2.0.2
Flask-Classful==0.14.2
future==0.18.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
numpy==1.22.1
packaging==21.3
pandas==1.4.0
pathvalidate==2.5.0
pefile==2021.9.3
Pillow==9.0.0
pymongo==4.0.1
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests==2.27.1
six==1.16.0
tornado==6.1
typing_extensions==4.0.1
urllib3==1.26.8
validators==0.18.2
volatility3==1.0.1
Werkzeug==2.0.2
